.icon {
  width: 50px;
  height: 50px;
}
.sec1 {
  width: 100% !important;
  height: 500px;
}
.image1 {
  padding-left: 700px;
}
.sec li {
  list-style: none;
  margin-right: 50px !important;
}

.text{
            padding-left: 300px;
            margin-top: 30px;
    }
    .text1{
        padding-left: 300px;
        margin-top: 30px;
}
.sec2{
  margin-top: 50px;
  padding-left: 195px;
}
  .sec3{

    display: flex;
    padding-left: 30px;
 
  }